@import './utils/variables';
@import './utils/utils';

@import './base';

@import './components/buttons';
@import './components/links';
@import './components/header';
@import './components/hero-section';
@import './components/advantages-section';
@import './components/section-title';
@import './components/news-section';
@import './components/gratest-girl';
@import './components/photos';
@import './components/support-section';

@import './utils/mixins';

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Footer */

.footer-container {
  position: relative;
  display: flex;
  gap: 20px;
  z-index: 3;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer {
  position: relative;
  padding: 32px 0;
  background-image: url('../images/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  background-color: var(--color-brand-dark);
  overflow: hidden;
}

.footer::before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: -40px;
  width: 265px;
  height: 265px;

  background-image: url('../images/kinder.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  transform: rotate(20deg);
  transform-origin: center center;

  z-index: 2;
  pointer-events: none;
}

.footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/fon-serdechki.png');
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: right bottom;
  z-index: 2;
  pointer-events: none;
}

address .address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand);
}

address .address-link:hover {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-brand);
  text-decoration-line: underline;
}

.address-copyright {
  font-size: 14px;
  font-weight: 400;
}

/* Modal */

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
}

/* Form */

.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand);
  outline: none;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 300px;
  font-style: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
