:root {
  --color-brand: hotpink;
  --color-brand-dark: #f74acb;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a28268;
  --color-primary-dark: #31261a;
  --color-primary-light: rgb(255, 241, 224);
}
