.advantages-section {
  background-color: var(--color-brand-dark);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20;
}
