.img-logo {
  width: 80px;
  border-radius: 25px;
  transition: transform 0.3s, border-radius 0.3s;

  @media screen and (min-width: $bp-tablet) {
    width: 120px;
  }
}

.img-logo:hover {
  transform: scale(1.1);
  border-radius: 35px;
}
