.Photos-title {
  margin-bottom: 80px;
}

.photos-container {
  display: flex;
  flex-shrink: 0;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.photo-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  padding: 24px;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      180deg,
      rgba(226, 9, 233, 0) 60%,
      var(--color-brand-dark) 100%
    );
    border-radius: inherit;
    transition: transform 0.6s ease, opacity 0.6s ease;
    z-index: 1;
  }

  &:hover {
    transform: scale(1.05);

    &::after {
      transform: translateY(100%);
      opacity: 0;
    }

    .format-title,
    .format-txt {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

.photo-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.format-title {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
  z-index: 2;
  transition: opacity 0.3s ease, transform 0.4s ease;
}
.format-txt {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
  z-index: 2;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Carusel */

.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-primary-dark);
  background-color: transparent;

  border: 1px solid var(--color-primary-dark);
  padding: 0;
  cursor: pointer;
}

.carusel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carusel-button.next {
  transform: rotate(180deg);
}
