.support-section {
  padding-bottom: 96px;
}

.support-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 20px;
}

.Support-title {
  margin-bottom: 16px;
}
