.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-dark);

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }

  &__item {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 20;
  }
}
